
window#waybar {
    background-color: rgba(43, 48, 59, 0);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0); */
    /* color: #bd93f9; */
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces {
    padding: 1rem 0.2rem;
}

#workspaces button {
    margin: 0px 1px;
    /* background-color: rgba(36, 41, 51, 0.2); */
    background-color: @base00;
    /* color: #bb9af7;  */
    color: @base04;
    border-radius: 10px;
}

#workspaces button:hover {
    /* background: rgba(0, 0, 0, 0.2); */
    background: alpha(@base02, 0.2)
}

#workspaces button.active{
    /* color: #bb9af7; */
    border-radius: 10px;
    /* box-shadow: inset 0 -3px #bb9af7; */
}

#workspaces button.urgent {
    /* background-color: #f7768e; */
    background: alpha(@base0A, 0.2);

}

#mode {
    /* background-color: #64727D; */
    /* border-bottom: 3px solid #ffffff; */
}

#clock,
#battery,
#memory,
#disk,
#temperature,
#backlight,
#network,
#cpu,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#window,
#submap,
#workspaces {
    margin-top: .70rem;
    /* background: #11111D; */ 
    background: alpha(@base00, 1);
    padding: 0 1rem;
    border-radius: .75rem;
    min-height: 1.5rem;
}
#battery{
    padding-right: 1.2rem;
}
#network{
    padding-right: 1rem;
}
#cpu{
    padding-right: 0.9rem;
    min-width: 6ex; /*100% */ 
}
#memory{
    padding-right: 0.9rem;
}
#tray{
    margin-right: .5rem;
}
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: .1rem;
}

.modules-right{
    margin-right: .70rem;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: .9rem;
}

#clock {
    padding-right: 0.9rem
}

#battery {
    
}

#battery.charging, #battery.plugged {
}

#battery.warning:not(.charging) {
    /* color: #ff9e64; */
    color: @base0F;
}

@keyframes blink {
    to {
        /* background-color: #ffffff; */
        background-color: @base07;
    }
}

#battery.critical:not(.charging) {
    /* color: #ff9e64; */
    color: @base08;
    animation: blink 1s linear infinite alternate;
}

label:focus {
}

#cpu {
}

#memory {
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#wireplumber {
}

#wireplumber.muted {
}

#custom-media {
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
}

#mpd {
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#language {
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
}

#scratchpad {
}

#scratchpad.empty {
	background-color: transparent;
}
